<br>
<div class="content">
    <div class="container"><br>
        <div class="data"><br>
            <div class="row text-center">
                <div class="col-md-12">
                     <h3 id="head1">New Maintenance</h3>
                 </div>
            </div>
                         <div class="row text-center">
                              <div class="col-md-12">
                                 <hr> <h6 id="head">Request Maintenance From</h6><hr id="hr3">
                              </div>
                        </div>

                                    <div class="row text-center">
                                        <div class="col-md-5 col-sm-5">
                                             <h5>Name</h5>
                                         </div>
                                                <div class="col-md-2 col-sm-2">
                                                     <h5>-</h5>
                                                </div>
                                                        <div class="col-md-5 col-sm-5">
                                                             <h6>{{requestUser.name}}</h6>
                                                        </div>
                                     </div><br>

              <div class="row text-center">
                   <div class="col-md-5 col-sm-5">
                        <h5>Block</h5>
                   </div>
                           <div class="col-md-2 col-sm-2">
                                <h5>-</h5>
                           </div>
                                    <div class="col-md-5 col-sm-5">
                                         <h6>{{requestUser.block}}</h6>
                                     </div>
                </div><br>

  <div class="row text-center">
       <div class="col-md-5 col-sm-5">
           <h5>Floor</h5>
       </div>
               <div class="col-md-2 col-sm-2">
                    <h5>-</h5>
               </div>
                        <div class="col-md-5 col-sm-5">
                             <h6>{{requestUser.floor}}</h6>
                        </div>
   </div><br>


      <div class="row text-center">
            <div class="col-md-5 col-sm-5">
                 <h5>Flat No</h5>
            </div>
                    <div class="col-md-2 col-sm-2">
                         <h5>-</h5>
                    </div>
                          <div class="col-md-5 col-sm-5">
                              <h6>{{requestUser.flatno}}</h6>
                         </div>
     </div><br>

         <div class="row text-center">
              <div class="col-md-5 col-sm-5">
                  <h5>Contact</h5>
             </div>
                       <div class="col-md-2 col-sm-2">
                           <h5>-</h5>
                       </div>
                            <div class="col-md-5 col-sm-5">
                                 <h6>{{requestUser.contact}}</h6>
                            </div>
          </div><br>
          <div class="row text-center">
            <div class="col-md-5 col-sm-5">
                 <h5>Home Category</h5>
            </div>
                    <div class="col-md-2 col-sm-2">
                        <h5>-</h5> 
                    </div>
                            <div class="col-md-5 col-sm-5">
                                 <h6>{{requestUser.homecategory}}</h6>
                            </div>
       </div><br>

  <div class="row text-center">
       <div class="col-md-12 col-sm-6">
           <hr id="hr2"><h6 id="head">Request Details</h6><hr id="hr3">
       </div>
  </div>
     
  
    <div class="row text-center">
         <div class="col-md-5 col-sm-5">
              <h5>Section</h5>
         </div>
                 <div class="col-md-2 col-sm-2">
                     <h5>-</h5> 
                 </div>
                         <div class="col-md-5 col-sm-5">
                              <h6>{{requestUser.section}}</h6>
                         </div>
    </div><br>
  

      <div class="row text-center">
           <div class="col-md-5 col-sm-5">
               <h5>Maintenance Category</h5>
          </div>
                   <div class="col-md-2 col-sm-2">
                        <h5>-</h5>
                   </div>
                           <div class="col-md-5 col-sm-5">
                                <h6>{{requestUser.maintenancecategory}}</h6>
                            </div>
      </div><br>

      <div class="row">
           <div class="col-md-5 col-sm-5">
                <h5>Remarks</h5>
           </div>
                  <div class="col-md-2 col-sm-2">
                       <h5>-</h5>
                  </div>
                           <div class="col-md-5 col-sm-5">
                                 <textarea class="form-control">{{requestUser.remarks}}</textarea>
                           </div>
     </div><br>
       </div>
       <br>
   </div>
</div>