<br>
<div class="content">
    <div class="container"><br>
        <div class="data bg-warning"><br>
            <div class="row text-center">
                <div class="col-md-12 col-sm-6">
                     <h3 id="head1">Your Details</h3>
                 </div>
            </div>
                         <div class="row text-center">
                              <div class="col-md-12 col-sm-6">
                                <hr><h6 id="head">User Details</h6><hr id="hr3">
                              </div>
                         </div>
           <!--------------------Request Details---------------------->
                <!---------------------Name-------------->
                <form #personForm="ngForm" (ngSubmit)="userDetails(personForm.value)">
                                   <div class="row">     
                          
                                    <!-- <input type="text" name="id" [(ngModel)]="userDetail.id"> -->

                                        <div class="col-md-4 col-sm-4 col-4">
                                            Enter Your Name:
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-8">
                                          <input type="text" name="name" [(ngModel)]="userDetail.name" id="name" class="form-control" placeholder="Enter Your Name" required ngModel>
                                       </div>
                                   </div>   <br>
                                     <!-------------Name End-->
<!---------------Block----------->
<div class="row">
    <div class="col-md-4 col-sm-4 col-4">
        Age
    </div>
        <div class="col-md-8 col-sm-8 col-8">
            <select class="form-control" placeholder="Select" [(ngModel)]="userDetail.age"  id="age" name="age" required ngModel>
                  <option value="" disabled selected>Select your option</option>
                  <option *ngFor="let item of arrayOne(60); let i = index;">{{1+i}}</option>
         </select>
    </div>
</div>          
<br>
            <!-----------------Blcok End--------->



 <div class="row">
     <div class="col-md-4 col-sm-4 col-4">
          Contact
    </div>
  <div class="col-md-8 col-sm-8 col-8">
     <input type="text" class="form-control" [(ngModel)]="userDetail.contact" name="contact" id="contact" placeholder="Enter Your Contact" required ngModel>
   </div>
 </div>  
 <br>

     
 <br>
 <div class="row">
    <div class="col-md-4 col-sm-4 col-4">
         Address
   </div>
  <div class="col-md-8 col-sm-8 col-8">
     <textarea id="address" name="address" [(ngModel)]="userDetail.address" placeholder="Enter Your Address" class="form-control" required ngModel></textarea>
  </div>
</div>
 <br>
 
   <!---------------------------------button---------------->

   <div class="row text-center">
     <div class="col-md-12 col-sm-12 col-12">
       <button type="submit" [disabled]="!personForm.form.valid" name="submit" class="btn btn-light btn-round" data-toggle="modal" data-target="#myModal">Submit</button>
     </div>
   </div>
   </form>
   <br>
   <br>
   
</div>
 <!-- The Modal -->
<!-- The Modal -->
