<div class="container-fluid">
     <div class="header">
        <div class="row">
           <div class="col-md-6"></div>
               <div class="col-md-6"></div>
       </div>
    </div>

    <div class="menu text-center">
        <div class="container-fluid btn-warning">
            <nav class="navbar navbar-expand-lg navbar-warning">
              <a class="navbar-brand"><img src="assets/img/apartment-larst-18.png" height="50"></a>
                <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon" style="color: black">X</span>
               </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                      <ul class="navbar-nav mr-auto">
                        <li>
                           <a class="nav-link" routerLinkActive="active" routerLink="/landpage/home"><span>Home</span></a>
                       </li>
                       <li class="nav-item dropdown ">
                          <a class="nav-link dropdown-toggle" style="color:white;" routerLinkActive="active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <span>News</span>  
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLinkActive="active" routerLink="/landpage/newnews">New News</a>
                                <a class="dropdown-item"routerLinkActive="active" routerLink="/landpage/oldnews">Old News</a>
                          </div>
                       </li>
                       <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" style="color:white;" href="#" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <span>Complaint</span>  
                          </a>
                          <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"routerLinkActive="active" routerLink="/landpage/newcomplaint">New Complaint</a>
                                <a class="dropdown-item"routerLinkActive="active"routerLink="/landpage/oldcomplaint">Old Complaint</a>
                          </div>
                       </li>
                       <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <span>Request</span>  
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLinkActive="active" routerLink="/landpage/newrequest">New Request</a>
                                <a class="dropdown-item" routerLinkActive="active" routerLink="/landpage/oldrequest">Old Request</a>
                          </div>
                       </li>
                       <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span>Maintenance</span>   
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLinkActive="active" routerLink="/landpage/newmaintenance">New Maintenance</a>
                                <a class="dropdown-item" routerLinkActive="active" routerLink="/landpage/oldmaintenance">Old Maintenance</a>
                          </div>
                       </li>
                       <li>
                            <a class="nav-link" routerLink="#"><span>Settings</span></a>
                        </li>
                       <li>
                          <a class="nav-link" routerLink="/login"><span>Logout</span> </a>
                      </li>
                    </ul>  
                   
                </div>
             </nav>
         </div>
     </div>
</div>

<router-outlet></router-outlet>
 

<br>
<div class="container-fluid">
     <div class="footer">
         <div class="row text-center">
            <div class="col-md-6">
                <span> @Copy rights 2018</span>
            </div>
            <div class="col-md-6">
                    <span>powerd by Triodesk</span>
                </div>
        </div>
                                                                                                                                                                             
    </div>
</div>
