.container-fluid
{
	padding-right:0px;
	padding-left:0px;
	
}

.container-fluid nav
{
border-top-right-radius: 14px;
border-bottom-right-radius: 14px;
border-top-left-radius: 14px;
border-bottom-left-radius: 14px;
font-size:20px;
background: #ffc107 ;

}
/*.container-fluid
{
	background-image:url("/assets/img/03-01.jpg");
	color:white;
    font-size:23px;
	
}*/
.head
{
	margin-top:10px;
}
.active {
	background: #ffbb33;
	
}
 

/*body
{
	background-image:url("/assets/img/03-01.jpg");
	background-attachment: fixed;
}*/
.box
{
	background-color:orange;
	width:200px;
	height:160px;
}
hr
{

	height:30px;
}
span{
	color:white;
}
 li a:hover
{
	 background-color: #ffbb33;

 
}
.menu h2
{
	font-size: 22px;
}
table
{
	padding:20px;

}
a.router-link-active
{
	background-color:orange;
}
.dropdown-menu a active
{
	background-color:white;
}
.footer
{  
	
	background: #ffc107 ;
	font-size:15px;
	/*box-shadow:20px 20px 120px 16px  #FF8C00;*/  
}
a{
	font-weight: 400;
}

