<div class="content">
    <div class="container" style="height:auto;border-radius:20px;">
      <br>
      <h4>Old Maintenance</h4>
      <div class="table-responsive">
          <table id="table" class="table table-hover">
  <thead class="bg-warning">
      <tr>
          <th>Username</th>
          <th>Apartment No</th>
          <th>Maintenance</th>
           <th>Action</th>
        </tr>
      </thead>
      <tbody class="bg-light">
        <tr *ngFor="let oldMaintenance of oldMaintenance">
            <td>{{oldMaintenance.maintenanceid}}</td>
            <td>{{oldMaintenance.username}}</td>
            <td>{{oldMaintenance.maintenance}}</td>
            <td><a href="#"><img src="assets/img/Delete.png" width="30" height="30"></a>
            <a href="#"><img src="assets/img/edit.png" width="30" height="28"></a></td>
        </tr>
          
           </tbody>
          </table>
        </div>
    </div>
 </div>
