<div class="content">
    <div class="container text-center"><br>
        <div class="row text-center">
            <div class="col-md-12">
                 <h4>New News</h4>
            </div>
        </div>
        <br>
        <br>
        <!-------------news------------>
        <div class="head">
          <form #personForm="ngForm"(ngSubmit)="onSubmitnews(personForm.value)">
            <div class="row">
                <div class="col-md-4">
                    <h5>Add News heading</h5>
                </div>
                <div class="col-md-4">
                    <input type="text" name="heading"  [(ngModel)]="newsDetail.heading"  class="form-control" placeholder="Add Heading"required  ngModel>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-4">
                    <h5>News Subject</h5>
                </div>
                <div class="col-md-4">
                    <input type="text" name="subject"  [(ngModel)]="newsDetail.subject"  class="form-control" placeholder="Add Subject" required  ngModel>
                </div>
            </div><br>
            <!-----------type of news-----------
        <div class="newstype">
            <div class="row">
                <div class="col-md-4">
                    <h5>Which Type Of News</h5>
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="select" name="select" placeholder="Select" id="select" [(ngModel)]="select">
                            <option value="" disabled selected>Select your option</option>
                       <option>Function</option>
                       <option>Emergency</option>
                       <option>Information</option>
                    </select>
                </div>
            </div>
        </div><br>---->
                <!-------------News------------->
                <div class="news">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Add News</h5>
                        </div>
                        <div class="col-md-4">
                            <textarea class="form-control" name="newsDetails" [(ngModel)]="newsDetail.newsDetails"  placeholder="Enter News.." ngModel>
                            </textarea>
                        </div>
                    </div>
                </div><br>
                <!--------------Date-->
                <div class="Date">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Date</h5>
                            </div>
                            <div class="col-md-4">
                                    <input type="date" class="form-control" name="date" [(ngModel)]="newsDetail.date"value="date" ngModel>
                           </div>
                        </div>
                 </div><br>
                    <!--------------End Date ----------------->
                <div class="button">
                    <div class="row">
                        <div class="col-md-12">
                             <button class="btn  btn-round" type="submit" [disabled]="!personForm.form.valid">Create</button>
                        </div>
                    </div>
                </div>

                </form>
                </div><br>
                <!------------------end news--------------->
        </div>
    </div>
    <br>
    <br>
    <br>
