<div class="content">
    <div class="container text-center"><br>
        <div class="row text-center">
            <div class="col-md-12">
                 <h4>New News</h4>
            </div>
        </div>
        <br>
        <br>
        <!-------------news------------>
        <div class="head">
          <form #personForm="ngForm"(ngSubmit)="onSubmitnews(personForm.value)">
            <div class="row">
                <div class="col-md-4">
                    <h5>Add News heading</h5>
                </div>
                <div class="col-md-4">
                    <input type="text" name="head" [(ngModel)]="head" id="head"  class="form-control" placeholder="Add Heading"minlength="3" required  ngModel>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-4">
                    <h5>News Subject</h5>
                </div>
                <div class="col-md-4">
                    <input type="text" name="subject" [(ngModel)]="subject" id="subject"  class="form-control" placeholder="Add Subject"minlength="3" required  ngModel>
                </div>
            </div><br>
            <!-----------type of news----------->
        <div class="newstype">
            <div class="row">
                <div class="col-md-4">
                    <h5>Which Type Of News</h5>
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="select" name="select" placeholder="Select" id="select" [(ngModel)]="select">
                            <option value="" disabled selected>Select your option</option>
                       <option>Function</option>
                       <option>Emergency</option>
                       <option>Information</option>
                    </select>
                </div>
            </div>
        </div><br>
                <!-------------News------------->
                <div class="news">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Add News</h5>
                        </div>
                        <div class="col-md-4">
                            <textarea class="form-control" name="news" id="news" [(ngModel)]="news" placeholder="Enter News..">
                            </textarea>
                        </div>
                    </div>
                </div><br>
                <input type="hidden" name="status" id="status" [(ngModel)]="status" value="{{status}}" placeholder="1">
                <input type="hidden" name="time" id="time" [(ngModel)]="time" value="{{today | date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}">
                <div class="button">
                    <div class="row">
                        <div class="col-md-12">
                             <button class="btn btn-warning btn-round" (click)="onSubmitnews()"  [disabled]="!personForm.form.valid">Post</button>
                        |
                            <input type="reset" class="btn btn-warning btn-round" value="Clear">
                        </div>
                    </div>
                </div>
                </form>
                </div><br>
                <!------------------end news--------------->
        </div>
    </div>
