.content .container
{
  background-color:white;
  opacity:0.9;
  margin-top:20px;
  /*box-shadow:20px 20px 120px 16px  #FF4F00;  */
}
h5{
  text-justify: inter-word;
    text-align: justify;
    float:right;
}
button
{
  background: #ffc107 ;
  color:white;
  width:100px;
}
input[type=reset]
{
  background: #ffc107 ;
}
