.content .container
{
  background-color:white;
  opacity:0.9;
  margin-top:20px;
      box-shadow:20px 20px 120px 16px  #FF4F00;  
      background-image:url("/assets/img/bright-background-with-dots_1055-3132.jpg");
      background-attachment:fixed;
}