<div class="content">
    <div class="container" style="height:500px;border-radius:20px;">
      <br>
      <h4>New Complaint</h4>
      <div class="table-responsive">
          <table id="table" class="table table-hover">
  <thead>
      <tr>
          <th>Username</th>
          <th>Apartment No</th>
          <th>Complaint</th>
           <th>Action</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td>gowthamrn</td>
              <td>00046578</td>
              <td>Complaint1</td>
              <td><a href="#"><img src="assets/img/Delete.png" width="30" height="30"></a></td>
              <td><a href="#"><img src="assets/img/edit.png" width="30" height="28"></a></td>
          </tr>
          <tr>
              <td>Rahul</td>
              <td>0454006578</td>
              <td>Complaint2</td>
              <td><a href="#"><img src="assets/img/Delete.png" width="30" height="30"></a></td>
              <td><a href="#"><img src="assets/img/edit.png" width="30" height="28"></a></td>
          </tr>
          <tr>
              <td>karthi</td>
              <td>076578</td>
              <td>Complaint3</td>
              <td><a href="#"><img src="assets/img/Delete.png" width="30" height="30"></a></td>
              <td><a href="#"><img src="assets/img/edit.png" width="30" height="28"></a></td>
          </tr>
          <tr>
              <td>gowri</td>
              <td>2300678</td>
              <td>Complaint4</td>
              <td><a href="#"><img src="assets/img/Delete.png" width="30" height="30"></a></td>
              <td><a href="#"><img src="assets/img/edit.png" width="30" height="28"></a></td>
          </tr>
           </tbody>
          </table>
        </div>
    </div>
 </div>
