<div class="body">
<!---login page-->
<div class="container">
    <form #personForm="ngForm" [formGroup]="myform" (ngSubmit)="onSubmit(personForm.value)" >
       <div class="row">
          <div class="col-md-4">
              <div class="login">
                 <div class="form-group">
                     <h1> Login </h1>
                        <label for="email">User Name:</label>
                            <input type="username" name="username" class="form-control" [ngClass]="{'is-invaild':submmitted && f.name.errors}" [(ngModel)]="name" id="username" placeholder="User Name" required="">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>
                  
             <div class="form-group">
                 <label for="pwd">Password:</label>
                 <input type="password" name="password" [ngClass]="{'is-invaild':submmitted && f.password.errors}" [(ngModel)]="password" class="form-control" id="password" 
                 placeholder="Password" required="">
                 <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
             </div>
            <button class="btn btn-default btn-round">Login</button>
              </div>
          </div>
          
         <div class="col-md-2">
             <div class="v1">
            </div>
        </div>

         <br>

        <div class="hr">
        </div>

        <div class="col-md-6">
            <h1>Apartment  </h1>
               <p style="color:white;font-size:19px;">Openness on three sides of every apartment allows for free flow of air, and so the entire house is cooler by a few degrees, keeping it fresh and veil-ventilated.</p>
               <br>
               <p style="color:white;">If you are new user </p>
               <a class="btn btn-default" style="background-color:white;" routerLink="/signup">Please Signup..</a>
       </div>
      </div>
   </form> 
</div>



<br>
<br>


                                                 
                             </div>                           