<div class="content">
    <div class="container" style="height:auto;border-radius:20px;">
      <br>
      <h4>New Request</h4>
      <div class="table-responsive">
          <table id="table" class="table table-hover">
  <thead>
      <tr>
          <th>Username</th>
          <th>Apartment No</th>
          <th>Request</th>
           <th>Action</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let newRequest of newRequest">
              <td>{{newRequest.requestid}}</td>
              <td>{{newRequest.username}}</td>
              <td>{{newRequest.request}}</td>
              <td><a href="#"><img src="assets/img/Delete.png" width="30" height="30"></a>
              <a href="#"><img src="assets/img/edit.png" width="30" height="28"></a></td>
          </tr>
          
           </tbody>
          </table>
        </div>
    </div>
 </div>
