<div class="body">
<div class="container" >
    <div id="reg">
         <div class="row">
              <div class="col-md-4">
                   <h1>Apartment  </h1>
                   <p style="color:white;font-size:19px;">Openness on three sides of every apartment allows for free flow of air, and so the entire house is cooler by a few degrees, keeping it fresh and veil-ventilated.</p>
                   <br>
               </div>
          <!---hr code-->     
                <div class="col-md-2">
                   <div class="v1">
                   </div>
                </div>

                   <br>

               <div class="hr">
               </div>
               <div class="col-md-4">
                   <form #personForm="ngForm"(ngSubmit)="onSubmit(personForm.value)">
                         <div class="login">
                               <div class="form-group">
                                     <h1> Signup </h1>
                                       <label for="email">User Name:</label>
                                           <input type="username" name="username" class="form-control" id="name" [(ngModel)]="name" placeholder="User Name" required="">
                                                </div> 
                                                <div class="form-group">
                                                   <label for="pwd">Email Id:</label>
                                                   <input type="text" name="email" class="form-control" id="email" [(ngModel)]="email" placeholder="Email-id" required="">
                                              </div>
                                 
                                               <div class="form-group">
                                                   <label for="pwd">Password:</label>
                                                   <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" placeholder="Password" required="">
                                               </div>
                                               <button type="submit" class="btn btn-default"><span style="color:black">Submit</span></button> 
                                             </div>
                                           </form>
                                         </div>
                                         </div>
                                       </div>
                                     </div>
</div>