
.body{
    background-image:url("/assets/img/bg.jpg");
    background-attachment:fixed;
    padding-top:10px;
    padding-bottom:115px;
  }
  #head
  {
    margin:50px;
  }
  .container
  {
    background-color:orange;
    border-radius:15px;
    margin-top:80px;
    opacity:0.9;
    height:0 auto;
    border-bottom:6px solid black;
    box-shadow:20px 20px 120px 16px  black;  
      }
      #msg
      {
        font-size:15px;
        margin:-10px;
      }
 
  .login a
  {
    text-decoration:underline;
    padding:7px;
    color:white;
  }
  input{
    text-align:center;
    font-size:17px;

  }
  .v1
  {
    border-left: 6px solid black;
    height: 450px;
   
  
   }
 
  @media only screen and (max-width:766px)
   {
    
      .v1
         {
           display:none;
         }
         .hr
         {
           display:none;
         }
        #p {
           display:none;
         }
         #heading{
           display:none;
         }
  
         
    div.hr 
         {
           height: 5px;
           width:400px;
           background-color: black;
          }
  }
  @media only screen and (max-width:320px)
  {
    #p{
     display: none;
    }
 
    .v1{
      display: none;
    }
  }
