<br>
<div class="content">
    <div class="container"><br>
        <div class="data"><br>
            <div class="row text-center">
                <div class="col-md-12 col-sm-6">
                     <h3 id="head1">New complient</h3>
                 </div>
            </div>
                         <div class="row text-center">
                              <div class="col-md-12 col-sm-6">
                                <hr><h6 id="head">Request  From</h6><hr id="hr3">
                              </div>
                         </div>
           <!--------------------Request Details---------------------->
                <!---------------------Name-------------->
                                    <div class="row text-center">
                                        <div class="col-md-5 col-sm-5 col-5">
                                             <h5>Name</h5>
                                         </div>
                                                <div class="col-md-2 col-sm-2 col-2">
                                                     <h5>-</h5>
                                                </div>
                                                        <div class="col-md-5 col-sm-5 col-5">
                                                             <h6>{{requestUser.name}}</h6>
                                                        </div>
                                     </div>    <br>
                                     <!-------------Name End-->
<!---------------Block----------->
           <div class="row text-center">
               <div class="col-md-5 col-sm-5 col-5">
                   <h5>Block</h5>
               </div>
                     <div class="col-md-2 col-sm-2 col-2">
                         <h5>-</h5>
                    </div>
                           <div class="col-md-5 col-sm-5 col-5">
                                <h6>{{requestUser.block}}</h6>
                          </div>
            </div><br>
            <!-----------------Blcok End--------->

  <div class="row text-center">
       <div class="col-md-5 col-sm-5 col-5">
           <h5>Floor</h5>
       </div>
               <div class="col-md-2 col-sm-2 col-2">
                    <h5>-</h5>
               </div>
                        <div class="col-md-5 col-sm-5 col-5">
                             <h6>{{requestUser.floor}}</h6>
                        </div>
   </div><br>


      <div class="row text-center">
            <div class="col-md-5 col-sm-5 col-5">
                 <h5>Flat No</h5>
            </div>
                    <div class="col-md-2 col-sm-2 col-2">
                         <h5>-</h5>
                    </div>
                          <div class="col-md-5 col-sm-5 col-5">
                              <h6>{{requestUser.flatno}}</h6>
                         </div>
     </div><br>

         <div class="row text-center">
              <div class="col-md-5 col-sm-5 col-5">
                  <h5>Contact</h5>
             </div>
                       <div class="col-md-2 col-sm-2 col-2">
                           <h5>-</h5>
                       </div>
                            <div class="col-md-5 col-sm-5 col-5">
                                 <h6>{{requestUser.contact}}</h6>
                            </div>
          </div><br>
          <div class="row text-center">
              <div class="col-md-5 col-sm-5 col-5">
                   <h5>Home Category</h5>
              </div>
                      <div class="col-md-2 col-sm-2 col-2">
                          <h5>-</h5> 
                      </div>
                              <div class="col-md-5 col-sm-5 col-5">
                                   <h6>{{requestUser.homecategory}}</h6>
                              </div>
         </div><br>
 

  <div class="row text-center">
       <div class="col-md-12">
           <hr id="hr2"> <h6 id="head">Request Details</h6><hr id="hr3">
       </div>
  </div>


    <div class="row ">
        <div class="col-md-12 col-sm-12">
            <h5 class="text-center">Complient Details</h5>
        </div>
    </div>
      <div class="row">
         <div class="col-md-12 col-sm-12">
              <textarea readonly class="form-control">{{requestUser.complientDetails}}</textarea>
        </div>
     </div><br>

       </div>
       <br>
   </div>
</div>
